<div class="book-container">

    <!-- Section List -->
    <div class="header">

    </div>
    <div class="list">
        @for (book of data; track book.id) {
            <div class="flip">
                <div class="front">
                    <p-image *ngIf="book.imageUrl"
                            [src]="book.imageUrl"
                            alt="Image"
                            class="book-image"
                            width="250"
                            height="350" />
                    <div class="book-noimage" *ngIf="!book.imageUrl">
                        <i class="pi pi-book" style="font-size: 2.5rem"></i>
                    </div>
                </div>
                <div class="back">
                    <div class="book">
                        <div class="top">
                            <p class="book-name">{{book.title}}</p>
                            <p class="book-author mb-10">{{book.author}}</p>
                            <p-rating [cancel]="false" [ngModel]="book.star" [readonly]="true"/>
                            <p class="book-price mt-10">{{book.price}} $</p>
                        </div>
                        <div class="flex justify-end">
                            <a class="btn-read-more">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        } @empty {
            <li>There are no items.</li>
        }
    </div>
</div>